
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    background: url('img/4.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
}

form .form-group input{
	padding-top: 1px;
	width: inherit;
	display: inline-block;
}

#myFile {
	display: none;
}

.form-group button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group button {
	padding: 10px;
	font-size: 1.2em;
	margin-right: 10px;
	width: 50%;
}

.form-group button:last-child {
	margin-right: 0;
}

.form-group ul {
	position: absolute;
	top: -100%;
	left: -1%;
}

form .button {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}

form .button button {
	width: 130px;
	padding: 10px;
}

.btn-group button {
	width: 100%;
}

form button {
	width: 100px;
	overflow: hidden;
}

form button:hover {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.fa:not(.fa-send):not(.fa-download) {
	font-size: 1.5em;
	margin-right: 10px;
}

table tr td {
	font-size: 0.9em;
}

table tr td .fa{
	margin-top: 50%;
}

hr:first-child {
	display: none;
}

button .fa-send {
    position: relative;
    top: 0;
	border-right: 1px solid #fff;
	padding: 3px 10px 0 0;
	float: left;
    
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);

    -webkit-transition: all 0.3s ease 0.2s;
       -moz-transition: all 0.3s ease 0.2s;
        -ms-transition: all 0.3s ease 0.2s;
         -o-transition: all 0.3s ease 0.2s;
            transition: all 0.3s ease 0.2s;
}

/*button:hover .fa-send {
    position: relative;
    top: -37px;
	border-right: none;
    
    -webkit-transform: translateX(30px);
       -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
         -o-transform: translateX(30px);
            transform: translateX(30px);
}*/

.page-wrapper {
	width: 100%;
	margin-top: 7rem;
}

.panell {
	padding: 30px 20px 0 20px;
	min-width: 290px;
	width: 28%;
	height: 100%;
	margin: 30px auto 0;
    border: 1px solid #B0B6BE;
    background: rgba(213,215,222,0.7);
    box-shadow: 10px 10px 10px rgba(73, 78, 92, 0.5);
    transition: 0.5s;
}

.panell-heading {
	font-size: 2em;
	text-transform: capitalize;
	text-align: center;
	border-radius: 7px 0 7px 0;
	margin: 0 0 10px 0;
	/*background-color: rgba(213,215,222,0.1);
	background-color: #f2f5f8;*/
	background: url('img/4.jpg');
	font-weight: 900;
	color: #0c2e8a;
    padding:15px 10px;
    border: 1px solid #B0B6BE;
}

.message{
	height: 80px;
	max-height: 80px;
	overflow: auto;
}

.count {
	max-height: 25px;
	font-weight: 500;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.error-message {
    color: red;
    font-size: 18px;

    animation: blink 1s;
    animation-iteration-count: 3;
}

.success-message {
    color: #1BBD36;
    font-size: 18px;

    animation: blink 0.5s;
    animation-iteration-count: 5;
}

@media (max-width: 1024px){

	.panell {
		width: 32%;
	}

}

@media (max-width: 414px){

	.panell {
		width: 80%;
	}

	.form-group button {
		width: auto;
	}

}

@media (max-width: 375px){

	.panell {
		margin: 20px auto 0;
	}

}

@media (max-width: 330px){

	.panell {
		margin-left: -12px;
	}

}

@media (max-height: 568px){

	.page-wrapper {
		margin-top: 6em;
	}

	form .button {
		margin-top: 30px;
	}
}

@media (max-height: 500px){

	form .button {
		margin-top: 15px;
	}

	.page-wrapper {
		margin-top: 4em;
	}
}
